body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Container for Epoch Clock and Tools */
.epoch-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.inline {
    display: flex;
    align-items: center;
    font-size: 1.2em;
}

.ecclock {
    margin-left: 5px;
    font-weight: bold;
    color: #ff0000ed;
}

/* Navigation Styling */
nav {
    display: flex;
    justify-content: center;
    background-color: #2c3e50; /* Subtle color */
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    color: #ff0000ed;
    text-decoration: underline;
}

/* Copy Button Styles */
.copy-button {
    background-color: #fff;
    color: #2c3e50; /* Subtle color */
    border: 1px solid #2c3e50;
    padding: 5px 10px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.copy-button:hover {
    background-color: #2c3e50;
    color: white;
}

/* SQL and Hex/Text Converter Styles */
.sql-container, .hex-container, .converter-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 20px auto;
}

.sql-container .container, .hex-container .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.sql-container label, .hex-container label {
    margin-right: 10px;
    font-weight: bold;
    color: #333;
}

.sql-container input[type="text"], .hex-container input[type="text"] {
    padding: 8px;
    width: 70%;
    box-sizing: border-box;
    resize: vertical;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
}

.sql-container input[type="text"]:focus, .hex-container input[type="text"]:focus {
    border-color: #af65d9;
}

.sql-container button, .hex-container button {
    background-color: #fff;
    color: #2c3e50; /* Subtle color */
    border: 1px solid #2c3e50;
    padding: 7px 7px;
    border-radius: 4px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sql-container button:hover, .hex-container button:hover, .converter-container button:hover {
    background-color: #2c3e50;
    color: white;
}

.sql-container .clear-button {
    background-color: #fff;
}

.sql-container .clear-button:hover {
    background-color: #2c3e50;
    color: white;
}

.sql-container span {
    margin-left: 10px;
    font-weight: bold;
}

/* Adjustments for Hex/Text Converter */
.hex-container .container {
    flex-wrap: wrap;
}

.hex-container .container:nth-child(2),
.hex-container .container:nth-child(3) {
    flex: 1 1 48%;
    margin-right: 2%;
}

.hex-container .container:nth-child(3) {
    margin-right: 0;
}

.hex-container .container:nth-child(4),
.hex-container .container:nth-child(5) {
    flex: 1 1 48%;
    margin-right: 2%;
}

.hex-container .container:nth-child(5) {
    margin-right: 0;
}

.hex-container input[type="text"] {
    width: 78%;
}

/* Footer Styles */
footer {
    text-align: center;
    padding: 3px;
    background-color: #2c3e50;
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Epoch Time and Button3 Adjustments */
.epochs-container {
    display: flex;
    align-items: center;
}

.btn-container {
    margin-left: 10px;
}

#epochTime {
    width: 20ch;
}

#result {
    margin-left: 10px;
    color: #2c3e50; /* Subtle color */
}

.dropdown-container {
    margin-left: 10px;
}

/* Tooltip Styles */
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 150px;
    background-color: #d3d3d3;
    color: #000;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -75px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 12px;
    font-weight: normal;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
    }

    input[type="text"] {
        width: 100%;
    }

    .sql-container, .hex-container {
        width: 95%;
        margin: 10px auto;
    }
}

/* Error Message Styles */
.error-message {
    color: #ff0000;
    font-size: 0.9em;
    margin-top: 10px;
}


 
button {
    background-color: #fff;
    color: #2c3e50; /* Subtle color */
    border: 1px solid #2c3e50;
    padding: 5px 10px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:focus {
    outline: none;
}

